*{
    margin: 0;
    padding: ;
    box-sizing: border-box;
}
.header{
    background-color: #333;
    color: white;
    padding: 15px 30px;
}
.header h1{
    
    color: peru;
    text-align: center;
    
}
.nav{
    display: inline-block;
    padding-left: 664px;
    margin-top: 20px;
    
    
}
.nav a{
    color: aliceblue;
    margin-right: 20px;
    font-weight: bold;  
    text-align: center;
}
.hero{
    background-image: url(./images/hero.jpg);
    background-size: cover;
    color: white;
    padding: 100px 30px;
    border: 20px solid;
    border-radius: 50px;
}
.hero button{
    margin-top: 20px;
    background-color: brown;
    color: antiquewhite; 
    border-radius: 20px;
}
.hero h2{
     margin-bottom: 10px;
}
.hero p{
    font-style: italic;
    font-size: larger;
    color: bisque;
}
.menu{
    padding: 10px;
    text-align: center;
    

}
.menu h2{
    margin-bottom: 10px;
    text-decoration: dotted;
    text-decoration-line: underline; 
    color: cadetblue;
}
.menu ul{
    list-style-type: square;
    background-size: cover;
    padding: 100px ;
    font-weight: bold;
    background-image: url(./images/h3.avif);
     background-size: cover;
     border-radius: 10px;  
    
}
 
.menu li{
    padding: 10px;
     border-bottom: 1px solid #ccc;
     
}
.about{
    background-color: #f2f2f2;
}
.about h2{
    padding: 10px;
    text-align: center;
    text-decoration: dotted;
    text-decoration-line: underline;
    color: darkgoldenrod;
}
.about p{
    margin: 10px 10px;
    font-weight: bolder;
    font-size: larger;
}
.about img{
    padding-left: 430px;
    
    
    border: 10px;
    color: #333;
    border-radius: 10px;
    
    
}
.contact{
    padding: 40px 30px;

}
.contact h2{
    text-decoration-line: underline;
    margin-bottom: 20px;
    color: darkgoldenrod;
}
.contact button{
    color: white;
    margin-left: 15px;
    padding: 8px 20px;
    background-color: #333
    
    
}
.contact label{
    color: maroon;
}
.contact input,
.contact select {
    color: white;
    background-color: #333;
    width: 250px;
    padding: 8px;
}
.footer{
    text-align: center;
    background-color: gray;
    color: white;
    padding: 15px;
}

.about p {
    margin-top: 10px;
    line-height: 1.6;
}





